<h3>Sign Up Below</h3>
<form class="" action="/signup" method="post">
  <label>Username:</label>
  <input type="text" name="username" value="">
</br>
  <label>Password:</label>
  <input type="text" name="password" value="">
</br>
  <label>Email:</label>
  <input type="text" name="email" value="">
  <input type="submit"  value="Submit">
</form>
