<p>
  What's a story circle? It's a basic outline that you can use to chart out any story.
</p>
<p>
  Dan Harmon of "Community" and more recently of "Rick and Morty" fame, has repeatedly used
  a simple diagram to chart out stories.

</br>It is a derivative of Joseph Campbell's epic work, "The Hero with a Thousand Faces." Essentially, Campbell and Harmon both posit, that all stories follow this structure, and in this order:
  <ol>
    <li><b>YOU</b> - the protagonist are in a position of comfort.</li>
    <li><b>NEED</b> - you wish to change your position.</li>
    <li><b>GO</b> - you enter an unfamiliar situation.</li>
    <li><b>SEARCH</b> - you adapt to your unfamiliar situation.</li>
    <li><b>FIND</b> - you find what you are looking for.</li>
    <li><b>TAKE</b> - you pay for what you are looking for.</li>
    <li><b>RETURN</b> - you return to your original position.</li>
    <li><b>CHANGE</b> - you change or are capable of change.</li>
  </ol>
</p></b>
Here's an example of this from Batman Begins: </br>
<ol>
  <li><b>YOU</b> - you are Bruce Wayne with no fighting skills.</li>
  <li><b>NEED</b> - you need to avenge your parents.</li>
  <li><b>GO</b> - you go travel to exotic locales for training.</li>
  <li><b>SEARCH</b> - your skills are gradually improving.</li>
  <li><b>FIND</b> - you found the means of metaphorically avenging your parents through embracing your fear - a Bat.</li>
  <li><b>TAKE</b> - but you've created an enemy, Ras Al Ghoul.</li>
  <li><b>RETURN</b> - you've returned to Gotham city.</li>
  <li><b>CHANGE</b> - and you're able to defeat Ras Al Ghoul because of the journey of change and you are now the superhero of Gotham City.</li>
</ol>
