<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Circles of Stories</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Welcome to Circles of Stories!</h1>
    <h2>Create New Story Circles</h2>
    <h2>Or Summarize Any Story</h2>

      <%=yield%>
  </body>
</html>
