<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Circles of Stories</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Welcome to Circles of Stories! Create New Story Circles, or Summarize Any Existing Story</h1>

      <%=yield%>
  </body>
</html>
