<form class="" action="/circles" method="post">
  <ol>
    <li><label>TITLE:</label> <input type="text" name="title"></li>
    <li><label>YOU: </label>  <input type="text" name="you"></li>
    <li><label>NEED: </label>  <input type="text" name="need"></li>
    <li><label>GO: </label>  <input type="text" name="go"></li>
    <li><label>SEARCH: </label>  <input type="text" name="search"></li>
    <li><label>FIND: </label>  <input type="text" name="find"></li>
    <li><label>TAKE: </label>  <input type="text" name="take"></li>
    <li><label>RETURN: </label>  <input type="text" name="return"></li>
    <li><label>CHANGE: </label>  <input type="text" name="change"></li>
  </ol>
  <input type="submit" name="" value="Submit">
</form>
