<form class="" action="/circles" method="post">
  <ol>
    <li><label>YOU: </label><input type="text" name="you" value=""></li>
    <li><label>NEED: </label><input type="text" name="need" value=""></li>
    <li><label>GO: </label><input type="text" name="go" value=""></li>
    <li><label>SEARCH: </label><input type="text" name="search" value=""></li>
    <li><label>FIND: </label><input type="text" name="find" value=""></li>
    <li><label>TAKE: </label><input type="text" name="take" value=""></li>
    <li><label>RETURN: </label><input type="text" name="return" value=""></li>
    <li><label>CHANGE: </label><input type="text" name="change" value=""></li>
  </ol>
  <input type="submit" name="" value="Submit">
</form>
