<form class="" action="/circles" method="post">
  <ol>
    <li><label>YOU: </label><input type="text" name="content[]"></li>
    <li><label>NEED: </label><input type="text" name="content[]"></li>
    <li><label>GO: </label><input type="text" name="content[]"></li>
    <li><label>SEARCH: </label><input type="text" name="content[]"></li>
    <li><label>FIND: </label><input type="text" name="content[]"></li>
    <li><label>TAKE: </label><input type="text" name="content[]"></li>
    <li><label>RETURN: </label><input type="text" name="content[]"></li>
    <li><label>CHANGE: </label><input type="text" name="content[]"></li>
  </ol>
  <input type="submit" name="" value="Submit">
</form>
